{% extends 'base.html' %}
{% load humanize %}


{% load static %}

    {%block title%}Edit Badge - DV Thoughts{%endblock%}
    {% block back %}

    {% endblock %}

    {% block body %}

    {% endblock %}
    
    {%block content%}
 
    <div class="mt-5">
        <h1>Edit Badge By SuperUser<a href="{% url 'user_profile' request.user.id %}" style="text-decoration:none;"> @{{request.user.username}}</a></h1>
    </div>    
        <div class="col-lg-6 col-sm-12">
          <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
          
            <div class="card">
              <div class="card-body">
                <h4 class="mb-4 ">Edit Badge</h4>
                {% include 'includes/form.html' %}
              </div>
            </div>              
            <div class="card mt-3">
              <div class="card-body">
                <button type="submit" class="btn btn-primary" style="width: 100%;">Save</button>
              </div>
            </div>
          </form> 
      </div>
    </div>



    {%endblock%}

</html>
















