{% extends 'base.html' %}
{% load static %}

    {%block title%}Search: {{search_str}}{%endblock%}
<body>
  {% block body %}
  <ol class="breadcrumb my-4 shadow p-3 mb-2 bg-white rounded animate__animated animate__flash">
  {%block breadcrumb%}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item active over">Search Results</li>
  </ol>
  {%endblock%}

  {% endblock %}

    {%block content%}




    <div id="accordion" class="mt-5">
      <div class="card">
        <div class="card-header bg-white" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h3>Topics</h3>
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
        <!--start card topics-->

            {% if topics %}
            <div>
              <h1 class="font-weight-light">The all results for: {{ search_str }}</h1>
              <h5 class="font-weight-light">Found {{ topics_count }} topics matches</h5> 
            </div>
            {%else%}
            <h1 class="font-weight-light">  No results match that query</h1> 
            {% endif %}   




            <div  class="row bg-warm mt-4 justify-content-center">
              {% if topics %}
              {% for topic in topics %} 
              <!-- Modal -->
              <div class="modal fade" id="t-{{topic.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content bg-dark-modal">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Are you sure to delete your topic ?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Deleting your topic will delete any and all content, such as comments.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <a type="button" href="{% url 'delete_topic' topic.board.pk topic.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              <div title="{{ topic.subject }}" class="col-lg-3 col-md-5 col-sm-11 card m-2  p-1  shadow bg-white rounded hvr-grow"  style="text-decoration: none; " >
                
                
                <div class="float-right">
                  <div class="dropdown" style="display: inline-block;">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown text-dark p-0" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="p-2"><i class="fas fa-ellipsis-h"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                          {% if topic.created_by == request.user %}
                          <a class="dropdown-item dropdown-item-white" href="{% url 'edit_topic' topic.board.pk topic.pk %}"><i class="far fa-edit"></i> Edit</a>                       
                          <button type="button" class="dropdown-item dropdown-item-white" data-toggle="modal" data-target="#t-{{topic.pk}}">
                            <i class="fas fa-trash"></i> Move to trash
                          </button>
                          {% else %}
                          <a class="dropdown-item dropdown-item-white" href="{% url 'report_topic' topic.board.pk topic.pk %}"><i class="far fa-flag"></i> Report</a>                       
                          {% endif %}     
                        </div>
                      </li>
                    </ul>
                  </div>
               </div>
                
                <a href="{% url 'topic_content' topic.board.pk topic.pk %}" style="text-decoration: none;">
                        {% if topic.topic_picture %}
                          <img src="{{ topic.topic_picture.url }}" class="card-img-top" >
                        {% endif %}
                        <div  class="card-body p-0">
        
                          <span class="font-weight-bold text-primary over">{{ topic.subject }}</span>
                          <small class="text-muted d-block">Created by:
                            {% if topic.created_by.author.picture %}
                            <img src="{{ topic.created_by.author.picture.url }}"
                            class="rounded-circle" width="25" height="25">
                            
                            {%else%}
                            <img src="{% static 'images/profile.png' %}"
                            class="rounded-circle" width="25" height="25">
                            
                            {% endif %}
                            <a href="{% url 'user_profile' topic.created_by.id %}">{{ topic.created_by }}</a>
                          
                          </small>
                          <small class="text-muted d-block">Comments: {{ topic.replies }}</small>
                          <small class="text-muted d-block">Views: <i class="far fa-eye"></i> {{ topic.views }}</small>
                          <small class="text-muted d-block">Created date: <i class="fas fa-globe-americas"></i> {{ topic.created_date }}</small>
                        </div>  
                      </a>
                          <small class="text-muted d-block">
                          {% for tag in topic.tags.all %}
                          <a  href="{% url 'filter_topics' topic.board.pk tag.pk %}" class="mr-1 mt-1 p-1 badge badge-primary ">{{ tag }}</a>
                          {% endfor %}
                          </small>
        
                      
                  </div>
              {% endfor %}
              {% else %}
              <div class="card shadow bg-white rounded font-weight-light mt-5" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">No Topics Founded</h5>
                  <h6 class="card-card-text mb-2 text-muted">Be the first to add <a href="{% url 'new_topic' %}">new topic!</a></h6>
                </div>
              </div>
              {% endif %}
          </div>      




      <!--end card topics-->

          </div>
        </div>
      </div>
    
    
    <div class="card">
        <div class="card-header bg-white" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h3>Peoples</h3>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">


            {% if users %}
            <h1 class="font-weight-light">The all results for: {{ search_str }}</h1>
            <h5 class="font-weight-light">Found {{ users_count }} users matches</h5> 
            <div class="list-group">

              {%for user in users%}
              <a href="{% url 'user_profile' user.id %}" class="list-group-item list-group-item-action">
                
                
                {% if user.author.picture %}
                <img src="{{ user.author.picture.url }}"
                class="rounded-circle avatar" width="40" height="40" style="margin-bottom:18px;">
                
                {%else%}
                <img src="{% static 'images/profile.png' %}"
                class="rounded-circle avatar" width="40" height="40" style="margin-bottom:18px;">
                
                {% endif %}
                
                <div style="display: inline-block;" class="ml-1">{{user.username}}
                  {% if user.author.bio %}
                  <small style="display: block;" class="over-more">{{user.author.bio}}</small>
                  {% else %}
                  <small style="display: block;">Bio Not Founded</small>
                  {% endif %}
                </div>
                

              </a>
              {%endfor%}
            </div>

            {% else %}
            <h1 class="font-weight-light">  No results match that query</h1> 
            {% endif %}

          </div>
        </div>
      </div>

      {% if not request.user.is_authenticated %}
      <div class="alert alert-warning mt-5" role="alert">
        <a class="btn btn-outline-success " href="{% url 'signup' %}">Sign Up</a>
        <span> to add new topics on DV Thoughts. Already have an account? <a href="{% url 'login' %}">Sign in to add</a></span>    
      </div>
      {% endif %}
</div>
</div>













{%endblock%}
</body>
</html>